*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(133, 133, 133);
}
body{
    width: 80%;
    margin: 0px auto ;
}  

#logo{
    margin-top: 20px;
    height: 50px;
    border-right: 1px solid rgb(229, 229, 229);
    padding-right: 20px;
}

nav{
    margin: 25px 0px;
}
nav ul li{
    list-style-type: none;
    display: inline;
    padding-right: 2%;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

.banner{
    height: 500px;
    background-image: url(img/banner.jpg);
    background-position: center;
    position: relative;
    border-radius: 10px;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 100%;
}
#banner-text{
    width: 50%;
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: rgb(255, 255, 255);
}


main::after{
    content: "";
    clear: both;
    display: table;
} 
   
#riga h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 35px;
}

#riga h4{
    color: rgb(149, 149, 149);
}

#colonna1, #colonna2, #colonna3{
    margin-top: 20px;
}

 #colonna1{
    float: left;
    width: 22%;
}

#colonna2{
    float: left;
    width: 52%;
    padding: 0 2%;
}

#colonna3{
    float: left;
    width: 22%;
}

#first-pic{
    background-image: url(img/img-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

#first-pic div, 
#second-pic div, 
#third-pic div{
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
    border-radius: 5px;
}

#second-pic{
    background-image: url(img/banner-2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

#third-pic{
    background-image: url(img/img-3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}


.text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 50px;
}

.paragrafo{
    color: rgb(133, 133, 133);
}

main:after {
    content: '';
    clear: both;
    display: table;
}

footer{
    text-align: center;
    font-weight: bold;
    margin: 30px auto;
}

footer p::after{
    content: ' \2665';
    color: red;
}